* {background-color: red;
font-family: sans-serif;}

input{background-color: white;
max-width: 155px}

button {background-color: silver;
cursor: pointer}

div {
border: 2px solid black;
margin: 5px 0px;
padding: 2px;
background-color: white;
max-width: 235px;
font-weight: bold
}

span {background-color: white}

img {background-color: white}

body {margin: 10px auto;
max-width: 300px}

#name-id-pic, #stat-box {
  display: none
}
